<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>Edit the blog page</title>
</head>
<body>
    <%- include('./partials/nav') %>
    <div class="container mt-4">
        <form action="/blog/<%= blog._id %>?_method=PUT" method="POST" enctype="multipart/form-data">
            <div class="mb-3 fs-3 fw-bold">
                <label for="coverImage" class="form-label">Change Cover Image</label>
                <input type="file" class="form-control" name="coverImage" id="coverImage" aria-describedby="coverImage">
            </div>
            <div class="mb-3 fs-3 fw-bold">
                <label for="title" class="form-label">Edit Title</label>
                <input type="text" class="form-control" name="title" value="<%= blog.title %>" aria-describedby="title" required>
            </div>
            <div class="mb-3 fs-3 fw-bold">
                <label for="body" class="form-label">Edit Body</label>
                <textarea class="form-control"  id="body" name="body" style="height: 100px" required><%= blog.body %></textarea>
            </div>
            <div class="mb-3 fs-3 fw-bold">
                <button class="btn btn-success">Update blog</button>
            </div>
        </form>
    </div>
    <%- include('./partials/scripts') %>
</body>
</html>